<form (ngSubmit)="onSubmit()">
  <input type="text" [(ngModel)]="kullanici.ad" name="ad" placeholder="Ad">
  <input type="text" [(ngModel)]="kullanici.soyad" name="soyad" placeholder="Soyad">
  <input type="password" [(ngModel)]="kullanici.parola" name="parola" placeholder="Parola">
  <button type="submit">Ekle</button>
</form>

<ul>
  <li *ngFor="let kullanici of kullanicilar$| async">
    {{ kullanici.ad }} {{ kullanici.soyad }}
  </li>
</ul>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Button
</button>
<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<!-- form.component.html -->

<form class="w-full max-w-md mx-auto"  (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
    <input type="text" [(ngModel)]="kullanici.ad" id="name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>
  <div class="mb-4">
    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
    <input type="text" [(ngModel)]="kullanici.soyad" id="email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>
  <div class="mb-4">
    <label for="message" class="block text-gray-700 text-sm font-bold mb-2">Message:</label>
    <textarea id="message" [(ngModel)]="kullanici.parola" name="message" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
  </div>
  <div class="flex items-center justify-between">
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
  </div>
</form>


<app-sidebar></app-sidebar>
<div class="relative md:ml-64 bg-blueGray-100">
  <app-navbar></app-navbar>

<router-outlet></router-outlet>


</div>